{% extends 'pharma_app/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Ajouter un Nouveau Produit</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white shadow">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i> Ajouter
                            </button>
                            <a href="{% url 'liste_produits' %}" class="btn btn-secondary">
                                Annuler
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
